<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="isbndb_url_boek" value="http://isbndb.com/api/v2/json/32FYGHII/book/"/>
    <add key="isbndb_url_auteur" value="http://isbndb.com/api/v2/json/32FYGHII/author/"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalDb_Bib30" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=bib30_2013_9_18;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\bib30_2013_9_18.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>