@model Bibliotheek.Domain.Entities.Isbn

@{
    ViewBag.Title = "Geef isbn";
}


@using (Html.BeginForm("CreateOrLookUp","Boek",null,FormMethod.Get)) {
    
    @Html.ValidationSummary(true)

    <label for="Nummer">Tik of scan een isbn:</label>
    @Html.EditorFor(m=>m.Nummer)

    @*<label>Tik of scan een isbn: <input type="text" name="isbn" /></label>*@
    <input type="submit" value="Create" />
    
}

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
