@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewBoek_z_Layout</title>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
  
        <div id="auteurs">
                        <div>Nog geen auteurs in de db.</div>
                        <p>Voer Nieuwe auteur in:</p>
                        <table id="inputs">
                            <thead>
                                <tr>
                                    <th>Voornaam</th>
                                    <th>Familienaam</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="textboxVoornaam" type='text'/>
                                    </td>
                                    <td>
                                        <input id="textboxFamilienaam" type='text'/>
                                    </td>
                                    <td>
                                        <input id="addButton" type="button" value="+" onclick="addAuteur()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            <input type="button" value="test" onclick="test()" />
                    </div>
 <script>
     var auteurs = [];
     
     $(function () {
         $("#addButton").attr('disabled', 'disabled');
         //werd niet gedimmed door button css rules, zie #addButton:disabled rule

         $('#inputs input[type="text"]').keyup(function () {
             if ($('#textboxVoornaam').val() != '' && $('#textboxFamilienaam').val() != '') {
                 $('#inputs input[type="button"]').removeAttr('disabled');
             }
         });
         
     });
    function addAuteur() {
        var nieuweAuteur = { Familienaam: $('#textboxFamilienaam').val(), Voornaam: $('#textboxVoornaam').val() };
        auteurs.push(nieuweAuteur);
        addAuteurToDiv(nieuweAuteur);
        //textboxen leegmaken
        $('#textboxFamilienaam').val('');
        $('#textboxVoornaam').val('');
        //addButton disablen
        $("#addButton").attr('disabled', 'disabled');


    }
    function test() {
        alert(auteurs.length);
    }
    function addAuteurToDiv(nieuweAuteur) {
        if (auteurs.length === 1) {
            $('#auteurs').find('div').html('')
                .append($('<ul>')
                .append($('<li>')
                .append(nieuweAuteur.Voornaam + '&nbsp;' + nieuweAuteur.Familienaam))
            );
        } else {
            $('#auteurs').find('div').find('ul')
                .append($('<li>')
                    .append(nieuweAuteur.Voornaam + '&nbsp;' + nieuweAuteur.Familienaam)
                );
        }
        

    }
</script>
</body>
</html>

