@model Bibliotheek.Domain.Entities.Boek

@{
    ViewBag.Title = "Exemplaren Van Boek";
}

<h2>@Model.Titel</h2>

<ul>
    @foreach(var ex in Model.Exemplaren){
        <li>@ex.Druk @ex.Commentaar @Html.ActionLink("Delete","WisExemplaarVanBoek",new{exId=ex.Id})</li>
    }
</ul>
